In [2]:
#funtions

In [8]:
def student_data(name,std,fees=0,school="sri seshaas"):
 if (std>10):
   print("name=",name)
   print("std=",std)
   print("fees=",70000)
   print("school=",school)
 elif (std<=10 and std>=6):
   print("name=",name)
   print("std=",std)
   print("fees=",50000)
   print("school=",school)
 elif (std<6 and std>=1):
   print("name=",name)
   print("std=",std)
   print("fees=",35000)
   print("school=",school)

In [9]:
student_data("varun",10,70000)

name= varun
std= 10
fees= 50000
school= sri seshaas

In [10]:
student_data("hema",5)

name= hema
std= 5
fees= 35000
school= sri seshaas

In [11]:
student_data("diyha",8)

name= diyha
std= 8
fees= 50000
school= sri seshaas